{% extends "blog/base.html" %}

{% block content %}
<h1>Register</h1>
{% if error %}
<span style="color: red;">{{error}}</span>
{% endif %}
<form method="post" action="{% url 'create_user' %}?next={{next}}">
	{% csrf_token %}
	<p>
		<label for="username">Username: </label>
		<input type="text" name="username" id="username" minlength="1" required>
		<br>
	</p>

	<p>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password" minlength="1" required>
		<br>
	</p>

	<button type="submit">Register</button>
</form>
{% endblock content %}
